@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FinGoals</h1>
    <p>A tool to help you plan savings goals and track your progress.</p>
    <p><a class="text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a> or <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></p>
</div>
