@model IEnumerable<FinGoals.Models.Goal>
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<div id="goals-div"></div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        let goals = [];
        var uri = '/api/goals/';

        function getGoals() {
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of goals.

                    $.each(data, function (key, item) {

                        let dueDate = new Date(item.DueDate + 'Z');
                        let goal = {
                            Name: item.Name,
                            Amount: item.Amount,
                            DueDate: dueDate,
                            Description: item.Description
                        }
                        goals.push(goal);
                    });
                });
            function printGoals() {
                    for (var i = 0; i < goals.length; i++) {
                        goals[i].Name;
                    }
            };
            document.getElementById('goals-div').innerHTML =
                printGoals
        };



        $(document).ready(function () {
            getGoals();

        });
    </script>
}
