
@{
    ViewBag.Title = "MyGoals";
}

<h2>MyGoals</h2>

<div><ul id="goals" /></div>

<canvas id="goalChart1" height="25px"></canvas>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        let goals = [];
        var uri = '/api/goals/';
        
        function formatItem(item) {
            return "Name:" + item.Name + ', Amount: $' + item.Amount + "Due Date: " + item.DueDate + "Description: " + item.Description;
        }
        //properties of a goal
        //id, applicationuserid, name, amount, duedate, description, isactive
        
        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of goals.
                    
                    $.each(data, function (key, item) {
                        // print them out in an html list.
                        $('<li>', { text: formatItem(item) }).appendTo($('#goals'));

                        //create goal objects and assign to an array
                        let dueDate = new Date(item.DueDate + 'Z');
                        let goal = {
                            name: item.Name,
                            amount: item.Amount,
                            dueDate: dueDate,
                            description: item.Description
                        }
                        goals.push(goal);
                        var ctx = document.getElementById("goalChart1").getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'horizontalBar',
                            data: {
                                labels: [goal.name],
                                datasets: [{
                                    data: [item.Amount * .5]
                                }],
                                ticks: {
                                    min: 0,
                                    max: item.Amount,
                                    stepSize: 10
                                }   
                            },
                            BarThickness: 15
                            
                        });
                    });
                });
            
        });
        
    </script>
}