
@{
    ViewBag.Title = "MyGoals";
}

<h2>MyGoals</h2>

<div><ul id="goals" /></div>

@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script>
        var uri = '/api/goals/';

        function formatItem(item) {
            return item.Name + ', $' + item.Amount;
        }

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of goals.
                    $.each(data, function (key, item) {
                        // Add a list item for the goal.
                        $('<li>', { text: formatItem(item) }).appendTo($('#goals'));
                    });
                });
        });
    </script>
}