
@{
    ViewBag.Title = "MyGoals";
}

<h2>MyGoals</h2>

<div id="goalList" /></div>

<div id="goalCharts"></div> 


@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        let goals = [];
        var uri = '/api/goals/';
        
        function getGoals() {
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of goals.

                    $.each(data, function (key, item) {
                        
                        let dueDate = new Date(item.DueDate + 'Z');
                        let goal = {
                            name: item.Name,
                            amount: item.Amount,
                            dueDate: dueDate,
                            description: item.Description
                        }
                        goals.push(goal);
                        
                    });
                    createCanvases();
                    createCharts();
                });
            
        };

        function createCanvases() {
            var i = 0;
            var divNode = document.getElementById("goalCharts");
            console.log(goals.length);
            for (i = 0; i < goals.length; i++) {
                
                var canvasNode = document.createElement("CANVAS");
                canvasNode.setAttribute("id", "goalCanvas" + i);
                divNode.appendChild(canvasNode);

                
                
            };
            
        };

        function createCharts() {
            var i;
            for (i = 0; i < goals.length; i++) {
                
                var ctx = document.getElementById("goalCanvas" + i).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: [goals[i].Name],
                        datasets: [{
                            data: [goals[i].Amount * .5]
                        }],

                    },
                    BarThickness: 15

                });
            };
            
        };

        $(document).ready(function () {
            getGoals();
            
            
        });

    </script>
}